body {
  text-align: center;
  color: #333;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 13pt;
}

h1 {
  font-weight: 800;
  font-size: 26pt;
  margin-bottom: 0;
}

h2 {
  color: #aaa;
  font-weight: 400;
  font-size: 14pt;
  margin-top: 8pt;
}

#contact {
  color: #333;
  font-weight: 300;
  border-bottom: 1px solid #eee;
	text-decoration: none;
}

#header {
  width:740px;
	padding:40px 50px .1em 50px;
  text-align: left;
  margin: 0 auto;
}

#content {
  background: white;
}

#footer {
  color: #ccc;
  text-align: center;
  margin: 60px 0;
  font-size: 80%;
}
